<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Register</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
      }

      h1 {
        color: #448755;
        text-align: center;
        margin-bottom: 20px;
      }

      .error {
        color: red;
        margin-top: 10px;
      }

      form {
        max-width: 300px;
        margin: 0 auto;
      }

      label {
        display: block;
        margin-bottom: 10px;
      }

      input[type="text"],
      input[type="email"],
      input[type="password"] {
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
      }

      button[type="submit"] {
        background-color: #448755;
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <h1>Register</h1>
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
    <form action="/auth/signup" method="POST">
      <label>
        Username:
        <input type="text" name="username" required>
      </label>
      <br>
      <label>
        Email:
        <input type="email" name="email" required>
      </label>
      <br>
      <label>
        Password:
        <input type="password" name="password" required>
      </label>
      <br>
      <button type="submit">Register</button>
    </form>
  </body>
</html>
